@import "../commons.scss";

.radio-component {
  cursor: pointer;
  input[type="radio"] {
    appearance: none;
    border-radius: 50%;
    border: 2px solid $bl5;
    cursor: pointer;
    display: inline-block;
    height: 20px;
    margin: 0 10px 0 0;
    vertical-align: middle;
    width: 20px;
    overflow: hidden;
    position: relative;
    z-index: 1;
    &:checked {
      &:before {
        transform: scale(20);
        background: $bl5;
      }
    }
    &:before {
      background: transparent;
      border-radius: 50%;
      content: "";
      display: block;
      height: 1px;
      position: absolute;
      transform-origin: 50% 50%;
      transition: all 0.3s cubic-bezier(0.95, 0.05, 0.795, 0.035);
      width: 1px;
      z-index: 0;
      left: 8px;
      top: 8px;
    }
    &:focus {
      outline: none;
    }
  }
  span {
    display: inline-block;
    line-height: 1em;
    vertical-align: middle;
  }
}
