@import '../commons.scss';

.range-component {
    label {
        align-items: center;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 2fr;
        grid-template-areas: "t t t""r r r"
    }
    .field-title {
        @include field-title
    }
    .input-container {
        background: $gr1;
        box-shadow: $soft;
        border-radius: 10px;
        grid-area: r;
        padding: 2px;
        .range {
            appearance: none;
            background: $gr1;
            border-radius: 5px;
            box-shadow: 2px 2px 5px rgba($black, 0.13) inset, -2px -2px 3px rgba($white,0.7) inset;
            height: 10px;
            margin: 0 auto;
            outline: none;
            width: 96%;
            &::-webkit-slider-thumb {
                appearance: none;
                background: $bl5;
                border-radius: 50%;
                cursor: pointer;
                height: 10px;
                width: 10px;
                transform-origin: 50% 50%;
                transition: all .3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
            }
            &:hover::-webkit-slider-thumb {
                transform: scale(1.5);
            }
        }
    }
}