@import "commons.scss";

.App {
  background: $gr1;
  box-shadow: -9px -9px 16px $white, 9px 9px 16px $gr2;
  border-radius: 30px;
  color: $gr2;
  display: grid;
  grid-template-areas:
    ". t t ."
    ". d d ."
    ". f f .";
  grid-template-columns: 1fr 8fr 8fr 1fr;
  grid-template-rows: 1fr 1fr 8fr;
  height: 90vh;
  left: 50%;
  margin: auto;
  max-width: 400px;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;

  .title {
    font-weight: bold;
    grid-area: t;
    font-size: 2.2em;
    padding: 20px 0;
  }
  .subtitle {
    grid-area: d;
    padding: 20px 0;
    font-size: 1.2em;
  }

  .form {
    grid-area: f;
    text-align: center;
    max-height: 300px;

    .field {
      border-bottom: .3px solid $white;
      border-top: .3px solid $gr2;
      margin: 0;
      padding: 10px 0;
      width: 100%;
      &:first-child {border-top: none}
      &:last-of-type {border-bottom: none}
      .field-title {
        @include field-title;
      }

      &.trip-type {
        align-items: center;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1.2fr;
        grid-template-areas:
          "t t t"
          "r o m";
        label {
          &:nth-child(2) {
            grid-area: r;
          }
          &:nth-child(3) {
            grid-area: o;
          }
          &:nth-child(4) {
            grid-area: m;
          }
        }
      }
    }
    .submit {
      background: $gr1;
      box-shadow: $soft;
      border-radius: 25px;
      border: none;
      color: $gr2;
      cursor: pointer;
      display: block;
      font-family: "Nunito", serif;
      font-size: 1.6em;
      grid-column: 1 / 3;
      height: 50px;
      margin: 20px auto 0;
      outline: none;
      padding: 0;
      transition: box-shadow 0.3s cubic-bezier(0.6, -0.28, 0.735, 0.045);
      width: 100%;
      &:hover {
        box-shadow: -5px -5px 10px rgba($white, 0.8),
          5px 5px 10px rgba($gr2, 0.8);
      }
    }
  }
}
