

$bl1: #105065;
$bl2: #0b304e;
$bl3: #027991;
$bl4: #54d7c0;
$bl5: #085c9f;
$white: #FFF;
$gr1: #f5f5f5;

.App {
  background: linear-gradient(135deg, $bl1 0%,$bl2 100%);
  color: $white;
  display: grid;
  grid-template-areas: ". t t ."
                       ". d d ."
                       ". f f .";
  grid-template-columns: 1fr 8fr 8fr 1fr;
  grid-template-rows: 1fr 1fr 8fr;
  height: 100vh;
  max-width: 500px;
  margin: 0 auto;

  .title {
    font-weight: bold;
    grid-area: t;
    font-size: 2.5em;
    padding: 20px 0;
  }
  .subtitle {
    grid-area: d;
    padding: 20px 0;
    font-size: 1.5em;
  }

  .switch {
    height: 34px;
    position: relative;
    width: 60px;
    input {
      height: 0;
      opacity: 0;
      width: 0;
      &:checked + .slider {
        background-color: $bl5;
        &:before { transform: translateX(26px) }
      }
      &:focus + .slider { box-shadow: 0 0 1px $bl5 }
    }
    .slider {
      background-color: $bl1;
      border-radius: 34px;
      bottom: 0;
      cursor: pointer;
      left: 0;
      position: absolute;
      right: 0;
      top: 0;
      transition: .4s;
      &:before {
        background-color: $white;
        border-radius: 50%;
        bottom: 4px;
        content: "";
        height: 26px;
        left: 4px;
        position: absolute;
        transition: .4s;
        width: 26px;
      }
    }
  }

  input[type="radio"] {
    appearance: none;
    border-radius: 50%;
    border: 2px solid $bl5;
    cursor: pointer;
    display: inline-block;
    height: 20px;
    margin: 0 10px 0 0;
    vertical-align: middle;
    width: 20px;
    overflow: hidden;
    position: relative;
    z-index: 1;
    &:checked {
      &:before {
        transform: scale(18);
        background: $white;
      }
    }
    &:before {
      background: transparent;
      border-radius: 50%;
      content: '';
      display: block;
      height: 1px;
      position: absolute;
      transform-origin: 50% 50%;
      transition: all .3s cubic-bezier(0.95, 0.05, 0.795, 0.035);
      width: 1px;
      z-index: 0;
      left: 8px;
      top: 8px;
    }
    &:focus {outline: none;}
  }

  .form {
    grid-area: f;
    text-align: center;
    max-height: 300px;

      .field {
        //background: linear-gradient(135deg, $bl3 0%,$bl4 100%);
        box-shadow:
          0 2.8px 2.2px rgba(0, 0, 0, 0.034),
          0 6.7px 5.3px rgba(0, 0, 0, 0.048),
          0 12.5px 10px rgba(0, 0, 0, 0.06),
          0 22.3px 17.9px rgba(0, 0, 0, 0.072),
          0 41.8px 33.4px rgba(0, 0, 0, 0.086),
          0 100px 80px rgba(0, 0, 0, 0.12);
        border-radius: 10px;
        margin: 10px 0;
        width: 100%;

        .field-title {
          grid-area: t;
          font-size: 1.2em;
          font-weight: bold;
          margin: 10px 0;
        }

        &.roundtrip {
          align-items: center;
          display: grid;
          grid-template-columns: 1fr 1fr 1fr;
          grid-template-rows: 1fr 1.2fr;
          grid-template-areas: "t t t"
                               "r o m";
          label {
            cursor: pointer;
            &:nth-child(2) {grid-area: r}
            &:nth-child(3) {grid-area: o}
            &:nth-child(4) {grid-area: m}
            span {
              line-height: 1em;
              display: inline-block;
              vertical-align: middle;
            }
          }
        }
        &.passengers{
          width: 100%;
          label {
            align-items: center;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            grid-template-rows: 1fr 2fr;
            grid-template-areas: "t t t" "r r r"
          }
          .range {
            appearance: none;
            background: $bl5;
            height: 5px;
            grid-area: r;
            margin: 0 auto;
            outline: none;
            width: 90%;
            &::-webkit-slider-thumb {
              appearance: none;
              background: $bl4;
              border-radius: 50%;
              cursor: pointer;
              height: 10px;
              width: 10px;
              transform-origin: 50% 50%;
              transition: all .3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
            }
            &:hover::-webkit-slider-thumb {
              transform: scale(1.5);
            }
          }
        }
        &.payment{
          label {
            align-items: center;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            grid-template-rows: 1fr 2fr;
            grid-template-areas: "t t t" "d c p";
            justify-items: center
          }
        }
      }
      .submit {
        background: linear-gradient(135deg, $bl5 0%,$bl2 100%);
        border-radius: 25px;
        border: none;
        color: $white;
        cursor: pointer;
        display: block;
        font-family: 'Nunito', serif;
        font-size: 1.6em;
        grid-column: 1 / 3;
        height: 50px;
        margin: 0 auto;
        outline: none;
        padding: 0;
        width: 100%;
      }
  }
}
