$bl1: #E9F4FF;
$white: #FFF;
$gr1: #f5f5f5;

.App {
  background: $gr1;
  display: grid;
  grid-template-areas: ". a a ." ". a a .";
  grid-template-columns: 2fr 8fr 8fr 2fr;
  grid-template-rows: 2fr 8fr 8fr 2fr;
  height: 100vh;
  text-align: center;

  .form {
    background: linear-gradient(135deg, $white 0%,$bl1 100%);
    box-shadow: 0 27px 24px 0 rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    grid-area: 2 / 2 / 4 / 4;
    max-height: 85vh;
    max-width: 85vw;
  }
}
