$bl1: #105065;
$bl2: #0b304e;
$bl3: #027991;
$bl4: #54d7c0;
$bl5: #085c9f;
$white: #FFF;
$gr1: #e0e5ec;
$gr2: #a3b1c6;

$soft: -9px -9px 16px $white, 9px 9px 16px $gr2;
$softInner: -5px -5px 5px $white inset, 5px 5px 5px $gr2 inset;